[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
asttokens = "==2.4.1"
click = "==8.1.7"
cloudpickle = "==3.0.0"
comm = "==0.2.2"
cramjam = "==2.8.3"
dask = "==2024.9.0"
dask-expr = "==1.1.14"
debugpy = "==1.8.5"
decorator = "==5.1.1"
distributed = "==2024.9.0"
executing = "==2.1.0"
fastparquet = "==2024.5.0"
featuretools = "==1.31.0"
fsspec = "==2024.9.0"
gitdb = "==4.0.11"
gitpython = "==3.1.41"
holidays = "==0.57"
importlib-metadata = "==8.5.0"
importlib-resources = "==6.4.5"
ipykernel = "==6.29.5"
ipython = "==8.27.0"
jedi = "==0.19.1"
jinja2 = "==3.1.4"
joblib = "==1.4.2"
jupyter-client = "==8.6.2"
jupyter-core = "==5.7.2"
locket = "==1.0.0"
markupsafe = "==2.1.5"
matplotlib-inline = "==0.1.7"
msgpack = "==1.1.0"
nest-asyncio = "==1.6.0"
nfl-data-py = "==0.3.2"
nlp-primitives = "==2.13.0"
nltk = "==3.9.1"
numpy = "==2.1.1"
packaging = "==24.1"
pandas = "==2.2.2"
parso = "==0.8.4"
partd = "==1.4.2"
pexpect = "==4.9.0"
phone-iso3166 = "==0.4.1"
phonenumbers = "==8.13.45"
platformdirs = "==4.3.3"
premium-primitives = "==0.1.0"
prompt-toolkit = "==3.0.47"
psutil = "==6.0.0"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.3"
pyarrow = "==17.0.0"
pygments = "==2.18.0"
python-dateutil = "==2.9.0.post0"
pytz = "==2024.2"
pyyaml = "==6.0.2"
pyzmq = "==26.2.0"
regex = "==2024.9.11"
reverse-geocoder = "==1.5.1"
scikit-learn = "==1.5.2"
scipy = "==1.14.1"
six = "==1.16.0"
smmap = "==5.0.1"
sortedcontainers = "==2.4.0"
stack-data = "==0.6.3"
tblib = "==3.0.0"
threadpoolctl = "==3.5.0"
toolz = "==0.12.1"
tornado = "==6.4.1"
tqdm = "==4.66.5"
traitlets = "==5.14.3"
typing-extensions = "==4.12.2"
tzdata = "==2024.1"
urllib3 = "==2.2.3"
wcwidth = "==0.2.13"
woodwork = "==0.31.0"
zict = "==3.0.0"
zipcodes = "==1.2.0"
zipp = "==3.20.2"

[dev-packages]

[requires]
python_version = "3"
